<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

{{--   @entryPointStyles('app') --}}
{{--   @entryPointScripts('app') --}}
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-30 p-b-50">

				<form class="login100-form validate-form p-b-33 p-t-5">




					<div class="container-login100-form-btn m-t-32">
						<button type="button" id="generateQrCode" class="login100-form-btn">
							GERAR QRCODE
						</button>
					</div>
					<div id="divQr" class="mb-5">
					<div id="x_instance" class="mb-5">

					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>


</body>
</html>
